services:
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: finpay
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql:ro
      - ./sql/data_and_queries.sql:/docker-entrypoint-initdb.d/02-data.sql:ro
      - ./sql/03-migrations.sql:/docker-entrypoint-initdb.d/03-migrations.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d finpay"]
      interval: 5s
      timeout: 5s
      retries: 30

  api:
    build: ./backend
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/finpay
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"

  web:
    image: nginx:stable-alpine
    depends_on:
      - api
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8080:80"

volumes:
  dbdata:
